body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.posts {
  background-color:#F9F9F9;
  padding: 20px;
  border-radius: 20px;
}

.posts h5 {
  font-size: 24px;
}
